<div >
  <div class="filter-container">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" 
      placeholder="filter" #filter>
    </mat-form-field>
  </div>
  <div>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let task">     {{ task.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="division">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Division </th>
      <td mat-cell *matCellDef="let task"> {{task.division}} </td>
    </ng-container>

    <ng-container matColumnDef="project_owner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Owner </th>
      <td mat-cell *matCellDef="let task"> {{task.project_owner}} </td>
    </ng-container>

    <ng-container matColumnDef="budget">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Budget </th>
      <td mat-cell *matCellDef="let task"> {{task.budget}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let task"> {{task.status}} </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
      <td mat-cell *matCellDef="let task"> {{task.created}} </td>
    </ng-container>

    <ng-container matColumnDef="modified">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified </th>
      <td mat-cell *matCellDef="let task"> {{task.modified}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
